:root {
  --brand-color: #D8001C;
  --status-yellow-background:rgb(101,74,18);
  --status-yellow-background-opacity: rgba(200, 200, 0, 0.3);
  --status-yellow-color: rgba(252, 185, 44, 1);
  --status-green-background:rgb(10,74,22);
  --status-green-background-opacity: rgba(0, 200, 0, 0.3);
  --status-green-color: rgba(28, 187, 140, 1);
  --status-red-background:rgb(102,24,38);
  --status-red-background-opacity: rgba(200, 0, 0, 0.3);
  --status-red-color: rgba(255, 61, 96, 1);
  --status-blue-background:rgb(20,24,92);
  --status-blue-background-opacity:rgba(0, 0, 200, 0.3);
  --status-blue-color: rgba(61, 96, 255, 1);
  --status-gray-background:rgb(150,150,150);
  --status-gray-background-opacity: rgba(200, 0, 0, 0.3);
  --status-gray-color: rgba(50, 50, 50, 1);
  --status-purple-background:rgb(80,24,92);
  --status-purple-background-opacity: rgba(200, 0, 200, 0.3);
  --status-purple-color: rgba(255, 96, 255, 1);
  --bg-very-dark: #0d121e;
  --bg-dark: #1d222e;
  --bg-average: #252b3b;
  --bg-light: #2d3448;
  --bg-very-light: #2b3244;
  --bg-very-two-light: #4d5974;
  --bg-very-tree-light: #4f5d80;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-dark);
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap {
  display: flex;
  flex-grow: 1;
}

.wrap-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-navbar {
  box-shadow: 0px 0px 10px var(--bg-very-dark);
  background: var(--bg-average);
  z-index: 1;
}
.my-navbar .logo {
  display: flex;
  align-items: center;
  margin: 5px;
}
.my-navbar .logo__img {
  height: 40px;
  margin: 0 5px;
}
.my-navbar .logo__text {
  font-family: Copperplate Gothic;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--brand-color);
  margin: 0 5px 0 2px;
}
.my-navbar .logo__white {
  color: rgb(233, 244, 255);
  text-transform: uppercase;
}
.my-navbar nav {
  min-width: 50px;
  z-index: 1;
}
.my-navbar nav img {
  height: 40px;
  margin: 0 5px;
}
.my-navbar nav img .logo-text {
  font-family: Copperplate Gothic;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--brand-color);
}
.my-navbar nav img .logo-text .red {
  color: rgb(233, 244, 255);
  text-transform: uppercase;
}
.my-navbar nav ul {
  text-align: left;
  padding: 0;
  padding-top: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.my-navbar nav ul li {
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px 0;
  list-style: none;
}
.my-navbar nav ul li a {
  font-weight: bold;
  color: rgba(133, 144, 165, 0.5);
  transition: 0.1s ease;
  padding: 10px;
}
.my-navbar nav ul li a i {
  width: 15px;
  height: 15px;
  transition: 0.4s ease;
}
.my-navbar nav ul li a.active {
  border-radius: 50px;
  box-shadow: 0 0 5px var(--bg-very-dark);
}
.my-navbar nav ul li a:hover, .my-navbar nav ul li a.active {
  color: rgb(133, 144, 165);
  transition: 0.1s ease;
}

.text-menu {
  margin-left: 7px;
  display: none;
}
.text-menu.active {
  display: inline;
}

header {
  height: 50px;
  background: var(--bg-very-light);
  box-shadow: 0px 0px 10px var(--bg-very-dark);
  z-index: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
header .button-bar {
  margin-left: 10px;
  background: transparent;
  border: none;
  color: rgba(133, 144, 165, 0.5);
  font-size: 2.4rem;
  transition: 0.1s ease;
}
header .button-bar i {
  display: none;
}
header .button-bar i.active {
  display: block;
}
header .button-bar:hover {
  color: rgb(133, 144, 165);
  transition: 0.1s ease;
}
header .account {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
main > .content {
  padding: 10px;
}

a {
  text-decoration: none;
}

footer {
  height: 50px;
  background: var(--bg-very-light);
  box-shadow: 0px 0px 10px var(--bg-very-dark);
  z-index: 0;
}
footer.full {
  display: none;
}

.table-wrap {
  margin-top: 30px;
  border: 1px solid var(--bg-light);
  background: var(--bg-light);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.price {
  position: relative;
}
.price .old_price {
  position: absolute;
  top: 15px;
  left: 0;
}

.table {
  --bs-table-color: #fff;
  --bs-table-bg: transparent;
  margin-bottom: 0px;
  font-size: 1.6rem;
}
.table thead td {
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 2px solid;
  border-color: var(--bg-light);
}
.table thead td:first-child {
  border-left: none;
}
.table thead td:last-child {
  border-right: none;
}
.table tbody tr {
  border-bottom: 2px solid var(--bg-light);
}
.table tbody tr:last-child {
  border-color: var(--bg-average);
}
.table tbody td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px;
}
.table tbody td button, .table tbody td a {
  display: inline-block;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  transition: 0.1s ease;
}
.table tbody td button:hover, .table tbody td a:hover {
  transform: scale(1.1);
  transition: 0.1s ease;
}
.table tbody td button.revise, .table tbody td a.revise {
  color: #0aa;
}
.table tbody td button.revise:hover, .table tbody td a.revise:hover {
  color: #0ff;
}
.table tbody td button.revise:active, .table tbody td a.revise:active {
  color: #066;
}
.table tbody td button.change, .table tbody td a.change {
  color: #aa0;
}
.table tbody td button.change:hover, .table tbody td a.change:hover {
  color: #ff0;
}
.table tbody td button.change:active, .table tbody td a.change:active {
  color: #660;
}
.table tbody td button.remove, .table tbody td a.remove {
  color: #a00;
}
.table tbody td button.remove:hover, .table tbody td a.remove:hover {
  color: #f00;
}
.table tbody td button.remove:active, .table tbody td a.remove:active {
  color: #600;
}
.table tbody td > div {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 120px;
  transition: 0.1s ease;
  margin: 0 auto;
}
.table tbody td > div:hover {
  transform: scale(2);
  z-index: 10;
  transition: 0.1s ease;
}
.table tbody td .product__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: none;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.table tbody td .product__no-img {
  line-height: 100px;
  height: 100%;
  width: 100%;
  background: radial-gradient(#000 10%, transparent 70%);
}

form.form__status {
  display: flex;
  justify-content: center;
}
form.form__status button {
  font-size: 1.6rem;
}

select {
  color: rgba(0, 0, 0, 0.7);
  padding: 2px 5px;
  border-radius: 4px;
  text-transform: capitalize;
}
select.form-select {
  padding: 2px 5px;
  font-size: 1.4rem;
  border: none;
  outline: none;
}
select.form-select:focus {
  box-shadow: none;
}
select.user, select.in_review, select option[value="3"], select option[value=user] {
  background: var(--status-yellow-background);
  color: var(--status-yellow-color);
}
select.admin, select.approved, select.included, select option[value=admin], select option[value="1"] {
  background: var(--status-green-background);
  color: var(--status-green-color);
}
select.ban, select.rejected, select.turned_off, select option[value=ban], select option[value="2"] {
  background: var(--status-red-background);
  color: var(--status-red-color);
}
select option[value="4"] {
  background: var(--status-blue-background);
  color: var(--status-blue-color);
}
select option[value="5"] {
  background: var(--status-gray-background);
  color: var(--status-gray-color);
}
select option[value="6"] {
  background: var(--status-purple-background);
  color: var(--status-purple-color);
}
select option {
  text-align: center;
  background: var(--bg-very-dark);
  color: #fff;
  border-radius: 10px;
}

main {
  font-size: 1.6rem;
}

.flex {
  display: flex;
}
.flex .card__info {
  margin-left: 10px;
}

.carousel-inner {
  width: 450px;
}

.carousel-item {
  min-height: 400px;
}

.back {
  color: rgb(133, 144, 165);
  background: var(--bg-very-light);
  padding: 1px 20px 0 10px;
  border-radius: 30px;
  transition: 0.1s ease;
}
.back:hover {
  background: var(--bg-very-tree-light);
  transition: 0.1s ease;
}
.back:active {
  background: var(--bg-very-light);
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  overflow: hidden;
}
.img__wrap {
  flex-basis: 272px;
  width: 450px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.status {
  padding: 2px 10px;
}
.status-wrap {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
  min-width: 200px;
  box-shadow: inset 0 0 1px #fff;
}
.status-3, .status-user,
.status option[value=in_review],
.status option[value=user] {
  background: rgba(200, 200, 0, 0.3);
  color: rgb(252, 185, 44);
}
.status-admin, .status-1,
.status option[value=admin],
.status option[value=approved] {
  background: rgba(0, 200, 0, 0.3);
  color: rgb(28, 187, 140);
}
.status-ban, .status-2,
.status option[value=ban],
.status option[value=rejected] {
  background: rgba(200, 0, 0, 0.3);
  color: rgb(255, 61, 96);
}
.status-4 {
  background: rgba(0, 0, 200, 0.3);
  color: rgb(61, 96, 255);
}
.status-5 {
  background: rgb(150, 150, 150);
  color: rgb(50, 50, 50);
}
.status-6 {
  background: rgba(200, 0, 200, 0.3);
  color: rgb(255, 96, 255);
}

.accordion {
  background: transparent;
}
.accordion-item {
  background: transparent;
  border: none;
}
.accordion-button {
  background: transparent;
  color: rgba(133, 144, 165, 0.5);
  font-size: 1.6rem;
}
.accordion-button::after {
  margin: auto;
  content: "\f107";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
.accordion-button:not(.collapsed) {
  color: rgb(133, 144, 165);
  background: transparent;
  box-shadow: none;
}
.accordion-button.active {
  color: rgb(133, 144, 165);
  background: transparent;
  box-shadow: none;
  border-radius: 50px;
  box-shadow: 0 0 5px var(--bg-very-dark);
}
.accordion-button:focus, .accordion-button:hover {
  transition: 0.2s ease;
  color: rgb(133, 144, 165);
  border: none;
  box-shadow: none;
}

.pagination {
  border: 1px solid var(--bg-very-two-light);
  border-radius: 10px;
  overflow: hidden;
  --bs-pagination-bg: transparent;
  --bs-pagination-active-bg: var(--bg-dark);
  --bs-pagination-active-border-color: var(--bg-very-light);
  --bs-pagination-disabled-bg: var(--bg-dark);
  --bs-pagination-disabled-border-color: var(--bg-very-light);
  --bs-pagination-disabled-color: rgba(255,255,255,0.1);
  --bs-pagination-border-color: var(--bg-very-two-light);
  --bs-pagination-hover-bg: rgba(106, 118, 150, 0.4);
  --bs-pagination-focus-box-shadow: transparent;
}
.pagination .page-item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pagination .page-item:first-child > .page-link {
  border-left: none;
}
.pagination .page-item:last-child > .page-link {
  border-right: none;
}
.pagination .page-item .page-link {
  border: none;
  border-left: 1px solid var(--bg-very-two-light);
  border-right: 1px solid var(--bg-very-two-light);
  font-size: 1.2rem;
}
.pagination .page-item span.page-link {
  color: var(--bg-very-two-light);
}
.pagination .page-item a.page-link {
  color: #fff;
}

.name {
  margin: 0;
}

.bell {
  color: #fff;
  position: relative;
  font-size: 2rem;
  margin-right: 20px;
}
.bell span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.6rem;
  right: -1rem;
  min-width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--brand-color);
  font-size: 1rem;
}
.bell span p {
  margin: 0;
}

.line {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  height: 250px;
  width: 100px;
  padding: 0 10px;
  align-items: flex-end;
}
.line a {
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  width: 200px;
}
.line a span {
  position: absolute;
  top: -2.4rem;
  left: 0;
  width: 100%;
}
.line .green {
  background: var(--status-green-color);
}
.line .yellow {
  background: var(--status-yellow-color);
}
.line .red {
  background: var(--status-red-color);
}
.line .blue {
  background: var(--status-blue-color);
}
.line .gray {
  background: var(--status-gray-background);
}
.line .purple {
  background: var(--status-purple-color);
}

.module {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px 80px 1fr 40px;
  grid-template-areas: "header header header header header" "hero hero hero hero hero" "content content content extra extra" "footer footer footer footer footer";
}
.module-wrap {
  height: 100%;
}
.module > div {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.module .hero {
  grid-area: hero;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "hero-top-one" "hero-top-two";
}
.module .hero__item {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
}
.module .hero-top-one {
  grid-area: hero-top-one;
}
.module .hero-top-two {
  grid-area: hero-top-two;
}
.module .header {
  background: #000;
  grid-area: header;
}
.module .header-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". header-panel-left header-panel-left header-panel-center header-panel-center header-panel-center header-panel-center header-panel-center header-panel-center header-panel-right header-panel-right header-panel-right";
}
.module .header__item {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
}
.module .header-panel-left {
  grid-area: header-panel-left;
}
.module .header-panel-center {
  grid-area: header-panel-center;
}
.module .header-panel-right {
  grid-area: header-panel-right;
}
.module .content {
  grid-area: content;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(9, 40px);
  grid-template-areas: "content-top-one" "content-top-two" "content-top-three" "content-top-four" "content-main" "content-bottom-one" "content-bottom-two" "content-bottom-three" "content-bottom-four";
}
.module .content-top-one {
  grid-area: content-top-one;
}
.module .content-top-two {
  grid-area: content-top-two;
}
.module .content-top-three {
  grid-area: content-top-three;
}
.module .content-top-four {
  grid-area: content-top-four;
}
.module .content-main {
  grid-area: content-main;
}
.module .content-bottom-one {
  grid-area: content-bottom-one;
}
.module .content-bottom-two {
  grid-area: content-bottom-two;
}
.module .content-bottom-three {
  grid-area: content-bottom-three;
}
.module .content-bottom-four {
  grid-area: content-bottom-four;
}
.module .content__item {
  min-height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.module .title {
  grid-area: title;
}
.module .extra {
  grid-area: extra;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  grid-template-areas: "extra-top-one" "extra-top-two" "extra-bottom-one" "extra-bottom-two";
}
.module .extra__item {
  min-height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.module .footer {
  grid-area: footer;
}

.widget-list {
  border: 2px solid var(--bg-very-dark);
  border-radius: 30px;
  height: 100%;
  background: var(--bg-light);
  width: 280px;
  padding: 20px 10px;
}
.widget-list__item {
  display: inline-block;
  border: 1px solid var(--bg-very-dark);
  background: var(--bg-average);
  border-radius: 10px;
  margin-bottom: 10px;
}
.widget-list__item i {
  color: var(--bg-very-two-light);
}

.form-check-input {
  background-color: var(--brand-color);
  border-color: #fff;
}
.form-check-input:checked {
  background-color: var(--status-green-background);
  border-color: #fff;
}

.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);
}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23666'/%3e%3c/svg%3e");
  border-color: #666;
  background-color: #999;
  box-shadow: 0 0 1px #fff;
}

.item {
  text-align: center;
  position: relative;
  height: 100%;
}
.item__text {
  text-align: right;
}
.item__button {
  text-align: left;
}
.item__button form {
  justify-content: start;
}

.widget,
.position {
  z-index: 1;
  width: 100%;
  cursor: grab;
}
.widget:active,
.position:active {
  cursor: grabbing;
  z-index: 3;
}

.position {
  height: 100%;
}

.ui-draggable-dragging > div {
  position: relative;
  z-index: 10;
  border: 1px solid var(--status-green-color);
  background: var(--bg-very-tree-light);
  box-shadow: inset 0 0 10px var(--status-green-background);
  border-radius: 10px;
  transition: 1s ease;
  max-width: 300px;
}
.ui-draggable-dragging > div .item__text {
  text-align: center;
  transition: 1s ease;
}
.ui-draggable-dragging > div .item__button {
  width: 0px;
  transform: scale(0);
  transition: 1s ease;
}

.ui-draggable .position-wrap {
  background: var(--bg-average);
  transition: 1s ease;
}

.page-load {
  transition: none !important;
}/*# sourceMappingURL=style.css.map */